<!-- wp:template-part {"slug":"checkout-header","theme":"woocommerce/woocommerce","tagName":"header"} /-->

<!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"fontSize":"2rem"},"spacing":{"padding":{"top":"1rem","bottom":"1rem"}}},"textColor":"secondary","gradient":"custom-my-gradient","fontFamily":"AnonymousPro"} -->
<h2 class="wp-block-heading has-text-align-center has-secondary-color has-custom-my-gradient-gradient-background has-text-color has-background has-link-color has-anonymous-pro-font-family" style="padding-top:1rem;padding-bottom:1rem;font-size:2rem">Checkout</h2>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"2rem"} -->
<div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:woocommerce/store-notices /-->

<!-- wp:post-content {"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary_gradient"},":hover":{"color":{"text":"var:preset|color|primary_gradient"}}}}},"textColor":"contrast","fontFamily":"AnonymousPro"} /--></main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->

<!-- wp:spacer {"height":"5rem"} -->
<div style="height:5rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:block {"ref":20} /-->