<!-- wp:block {"ref":11} /-->

<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"spacing":{"padding":{"top":"1rem","bottom":"1rem"}}},"textColor":"secondary","gradient":"custom-my-gradient","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group has-secondary-color has-custom-my-gradient-gradient-background has-text-color has-background has-link-color" style="padding-top:1rem;padding-bottom:1rem"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"fontSize":"1.5rem","fontStyle":"bold","fontWeight":"700"}},"textColor":"secondary","fontFamily":"AnonymousPro"} -->
    <p class="has-secondary-color has-text-color has-link-color has-anonymous-pro-font-family" style="font-size:1.5rem;font-style:bold;font-weight:700">My Account</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->
    
    <!-- wp:block {"ref":534} /-->
    
    <!-- wp:block {"ref":535} /-->
    
    <!-- wp:block {"ref":537} /-->
    
    <!-- wp:loginout {"displayLoginAsForm":true,"style":{"typography":{"fontStyle":"bold","fontWeight":"700","fontSize":"1.5rem"},"elements":{"link":{"color":{"text":"var:preset|color|secondary_gradient"}}},"spacing":{"padding":{"right":"10rem","left":"10rem"}}},"fontFamily":"AnonymousPro"} /-->
    
    <!-- wp:block {"ref":20} /-->