<!-- wp:block {"ref":11} /-->

<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"spacing":{"padding":{"top":"1rem","bottom":"1rem"}}},"textColor":"secondary","gradient":"custom-my-gradient","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group has-secondary-color has-custom-my-gradient-gradient-background has-text-color has-background has-link-color" style="padding-top:1rem;padding-bottom:1rem"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"fontSize":"1.5rem","fontStyle":"bold","fontWeight":"700"}},"textColor":"secondary","fontFamily":"AnonymousPro"} -->
    <p class="has-secondary-color has-text-color has-link-color has-anonymous-pro-font-family" style="font-size:1.5rem;font-style:bold;font-weight:700">My Account</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->
    
    <!-- wp:details {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary_gradient"}}},"spacing":{"blockGap":"2rem"}},"textColor":"secondary_gradient"} -->
    <details class="wp-block-details has-secondary-gradient-color has-text-color has-link-color"><summary></summary><!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}},"typography":{"fontStyle":"bold","fontWeight":"700","fontSize":"1.5rem"}},"textColor":"contrast","fontFamily":"AnonymousPro"} -->
    <p class="has-text-align-center has-contrast-color has-text-color has-link-color has-anonymous-pro-font-family" style="font-size:1.5rem;font-style:bold;font-weight:700">Order History</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:woocommerce/order-confirmation-summary {"textColor":"contrast","fontFamily":"AnonymousPro","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}}} /-->
    
    <!-- wp:woocommerce/order-confirmation-downloads {"textColor":"secondary","gradient":"custom-my-gradient","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}}} /-->
    
    <!-- wp:loginout {"displayLoginAsForm":true,"style":{"typography":{"fontSize":"1.5rem","fontStyle":"bold","fontWeight":"700"},"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"fontFamily":"AnonymousPro"} /--></details>
    <!-- /wp:details -->
    
    <!-- wp:block {"ref":20} /-->