<!-- wp:block {"ref":11} /-->

<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"spacing":{"padding":{"right":"0","left":"0","top":"1rem","bottom":"1rem"}},"typography":{"fontSize":"2rem"}},"textColor":"secondary","gradient":"custom-my-gradient","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group has-secondary-color has-custom-my-gradient-gradient-background has-text-color has-background has-link-color" style="padding-top:1rem;padding-right:0;padding-bottom:1rem;padding-left:0;font-size:2rem"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"fontStyle":"bold","fontWeight":"700"}},"textColor":"secondary","fontFamily":"AnonymousPro"} -->
    <p class="has-secondary-color has-text-color has-link-color has-anonymous-pro-font-family" style="font-style:bold;font-weight:700">Shop</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"1rem"} -->
    <div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"backgroundColor":"contrast","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group has-contrast-background-color has-background"><!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"fontSize":"1.5rem"},"spacing":{"padding":{"top":"0.1rem","bottom":"0.1rem","left":"0","right":"0"}}},"backgroundColor":"contrast","textColor":"secondary","fontFamily":"AnonymousPro"} -->
    <p class="has-text-align-center has-secondary-color has-contrast-background-color has-text-color has-background has-link-color has-anonymous-pro-font-family" style="padding-top:0.1rem;padding-right:0;padding-bottom:0.1rem;padding-left:0;font-size:1.5rem">Product Categories</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"right":"10rem","left":"10rem"}}},"gradient":"custom-my-gradient","fontFamily":"AnonymousPro","layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group has-custom-my-gradient-gradient-background has-background has-anonymous-pro-font-family" style="padding-right:10rem;padding-left:10rem"><!-- wp:woocommerce/product-categories {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"},":hover":{"color":{"text":"var:preset|color|base"}}}}},"textColor":"secondary"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"1rem"} -->
    <div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"fontSize":"1.5rem"},"spacing":{"padding":{"top":"0.1rem","bottom":"0.1rem"}}},"backgroundColor":"contrast","textColor":"secondary","fontFamily":"AnonymousPro"} -->
    <p class="has-text-align-center has-secondary-color has-contrast-background-color has-text-color has-background has-link-color has-anonymous-pro-font-family" style="padding-top:0.1rem;padding-bottom:0.1rem;font-size:1.5rem">On Sale Products</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"right":"10rem","left":"10rem"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" style="padding-right:10rem;padding-left:10rem"><!-- wp:woocommerce/product-collection {"queryId":20,"query":{"perPage":5,"pages":1,"offset":0,"postType":"product","order":"asc","orderBy":"title","search":"","exclude":[],"inherit":false,"taxQuery":[],"isProductCollectionBlock":true,"featured":false,"woocommerceOnSale":true,"woocommerceStockStatus":["instock","outofstock","onbackorder"],"woocommerceAttributes":[],"woocommerceHandPickedProducts":[],"filterable":false,"relatedBy":{"categories":true,"tags":true}},"tagName":"div","displayLayout":{"type":"flex","columns":5,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"collection":"woocommerce/product-collection/on-sale","hideControls":["inherit","on-sale","filterable"],"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":false,"previewMessage":"Actual products will vary depending on the page being viewed."}} -->
    <div class="wp-block-woocommerce-product-collection"><!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"1rem"}}}} -->
    <h2 class="wp-block-heading has-text-align-center" style="margin-bottom:1rem">On sale products</h2>
    <!-- /wp:heading -->
    
    <!-- wp:woocommerce/product-template -->
    <!-- wp:woocommerce/product-image {"imageSizing":"thumbnail","isDescendentOfQueryLoop":true,"width":"100%","height":"70%"} /-->
    
    <!-- wp:post-title {"textAlign":"center","level":3,"isLink":true,"style":{"spacing":{"margin":{"bottom":"0.75rem","top":"0"}}},"fontSize":"medium","__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->
    
    <!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"center","fontSize":"small"} /-->
    
    <!-- wp:woocommerce/product-button {"textAlign":"center","isDescendentOfQueryLoop":true,"fontSize":"small"} /-->
    <!-- /wp:woocommerce/product-template --></div>
    <!-- /wp:woocommerce/product-collection --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"1rem"} -->
    <div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"fontSize":"1.5rem"},"spacing":{"padding":{"top":"0.1rem","bottom":"0.1rem"}}},"backgroundColor":"contrast","textColor":"secondary","fontFamily":"AnonymousPro"} -->
    <p class="has-text-align-center has-secondary-color has-contrast-background-color has-text-color has-background has-link-color has-anonymous-pro-font-family" style="padding-top:0.1rem;padding-bottom:0.1rem;font-size:1.5rem">Best Sellers</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"right":"10rem","left":"10rem"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" style="padding-right:10rem;padding-left:10rem"><!-- wp:woocommerce/product-collection {"queryId":21,"query":{"perPage":5,"pages":1,"offset":0,"postType":"product","order":"desc","orderBy":"popularity","search":"","exclude":[],"inherit":false,"taxQuery":[],"isProductCollectionBlock":true,"featured":false,"woocommerceOnSale":false,"woocommerceStockStatus":["instock","outofstock","onbackorder"],"woocommerceAttributes":[],"woocommerceHandPickedProducts":[],"filterable":false,"relatedBy":{"categories":true,"tags":true}},"tagName":"div","displayLayout":{"type":"flex","columns":5,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"collection":"woocommerce/product-collection/best-sellers","hideControls":["inherit","order","filterable"],"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":false,"previewMessage":"Actual products will vary depending on the page being viewed."}} -->
    <div class="wp-block-woocommerce-product-collection"><!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"1rem"}}}} -->
    <h2 class="wp-block-heading has-text-align-center" style="margin-bottom:1rem">Best selling products</h2>
    <!-- /wp:heading -->
    
    <!-- wp:woocommerce/product-template -->
    <!-- wp:woocommerce/product-image {"isDescendentOfQueryLoop":true,"width":"100%","height":"70%","scale":"fill"} /-->
    
    <!-- wp:post-title {"textAlign":"center","level":3,"isLink":true,"style":{"spacing":{"margin":{"bottom":"0.75rem","top":"0"}}},"fontSize":"medium","__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->
    
    <!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"center","fontSize":"small"} /-->
    
    <!-- wp:woocommerce/product-button {"textAlign":"center","isDescendentOfQueryLoop":true,"fontSize":"small"} /-->
    <!-- /wp:woocommerce/product-template --></div>
    <!-- /wp:woocommerce/product-collection --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"1rem"} -->
    <div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:template-part {"slug":"footer","theme":"no_code_theme","area":"uncategorized"} /-->